
input[type=range] {
    box-sizing: border-box;
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 2px;
    /* Add some L/R padding to ensure box shadow of handle is shown */

    overflow: hidden;
    border: 0;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(#3897cf, #d4d4d4) no-repeat center;
    /* Use a linear gradient to generate only the 2px height background */

    background-size: 100% 3px;
    pointer-events: none;
}
input[type=range]:active,
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 28px;
    background-color: #ffffff;
    border: 2px solid #3897cf;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */

    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 13px;
    left: 100%;
    width: 2000px;
    height: 2px;
    background-color: #3897cf;
}
.multi-range {
    position: relative;
    min-height: 10px;
}
.multi-range input[type=range] {
    position: absolute;

}
.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
    background-color: red;
}
.multi-range input[type=range]:nth-child(2) {
    background: none;
}
.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
    background-color: #000000;
}


.price-reanger-fields span{
    font-size: 30px;
    padding: 0 10px;
}
.price-reanger-fields{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.range-slider .price-reanger-fields input{
    width: 100%;
    min-height: 25px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 12px;
    background-color: transparent;
    font-weight: 700;
    vertical-align: middle;
    padding: 5px 10px;
    text-align: center;
}




