.radio_item{
    display: none !important;
    }

    .label_item {
	  opacity: 0.5;
	  border-radius: 6px;
	  height: 150px;
	  width: 200px;
	}
	.label_item img{
	  height: 150px;
	  width: 200px;
	}
    
    .radio_item:checked + label {
	  opacity: 1;
	  box-shadow: 0 8px 6px -6px black;
    }

label {
 cursor: pointer;   
}

.paymentMethodsArea ul.nav.nav-tabs {
    width: 100%;
}

.paymentMethodsArea ul.nav.nav-tabs li.nav-item {
    width: 33%;
}

.paymentMethodsArea ul.nav.nav-tabs li.nav-item .active {
    border-top: 5px solid;
}
.paymentMethodsArea ul.nav.nav-tabs li.nav-item img {
    height: 100px;
}

.paymentMethodsArea .tab-content {
    margin-top: 25px;
}

