/*Product Single Page*/

.productCardHead{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.productReviewStar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #efce4a;
}
.star{color: #dcdcdc;}
.productReviewStar li{margin-right: 5px;}
.productSingleTitle{
    font-size: 25px;
    text-transform: uppercase;
}
.authName, .authName a{
    font-size: 18px;
    color: #404041;
}
.authName a{text-decoration: underline!important;}
.product-single-Price{
    font-size: 30px;
    color: #363636;
}
.productAvaility{
    font-size: 18px;
    color: #404041;
    font-weight: 600;
    padding-left: 10px;
}
.inputValue{
    font-size: 18px;
    text-align: center;
}
.productBtnGroup .btn{
    font-size: 14px;
    padding: 0 15px;
}
.linkBtnBorder{
    background-color: white !important;
    color: #3897cf;
    border: 1px solid #3897cf !important;
}
.linkBtnBorder:hover{
    color: #3897cf !important;
}
.productDes p{
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.productNavTabs .nav-link{
    font-size: 16px;
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0px;
}
.productNavTabs .nav-link.active, .productNavTabs .show>.nav-link{
    background-color: transparent;
    color: #3897cf;
    border-bottom:2px solid #3897cf;
}
.productTabContent{padding: 0 15px;}
.specifications li{
    font-size: 18px;
    color: #363636;
}

.singleReview{
    border-bottom: 1px solid #d4d4d4!important;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 0px;
}
.reviewUserName{
    font-size: 18px;
    color: #363636;
}
.reviewDate{font-size: 14px;color: #363636;padding-left: 10px;font-weight: 600;}
.reviewUserAvater{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.helpNavList .nav-link{
    font-size: 16px;
    color: #363636;
    font-weight: 600;
    padding-left: 0px;
}
.helpNavList .active .nav-link{color: #3897cf;font-weight: 700;}
.helpNavList .active .nav-link:hover{margin-left: 0px;}
.helpNavList .nav-link:hover{color: #3897cf;margin-left: 5px;}
.helpPara p{margin-bottom: 10px;font-weight: 400;}
.slick-prev:before, .slick-next:before{color: #bfbfbf;font-size: 1.5rem;}
/*.slick-next:before {*/
/*    content: "\f061";*/
/*    font-family: "Font Awesome 5 Free";*/
/*}*/

.productSingleView {position: relative;}
.productSingleView .Modal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
}