
.searchBarNew span{position: absolute;right: 10px;top: 5px;font-size: 20px;color: #cecece; cursor: pointer;}
.searchBarNew{
    border: 1px solid #f5f5f5;
    background-color: #f9f9f9;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#SearchBarMenu{
    position: relative;
}
[type=search] {
outline-offset: 0px;
-webkit-appearance: none;
}
.cursor-type {
    cursor: pointer;
    font-size: 16px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #363636;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .active .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color:#3897cf;
}

.navbar-expand-lg a.active{
    color: #3897cf !important;
}
.cartBadge{
    position: relative;
}
.cartBadge .badge {
    position: absolute;
    top: -12px;
    left: 4px;
    border-radius: 50%;
    font-size: 0.7rem;
    width: 20px;
    height: 20px;
    padding: 5px;
}


/*mobile*/
.ModaCloseBtn.modal-header {
    padding-right: 1rem !important;
    border-bottom: 0;
    padding-top: 0.5rem !important;
    padding: 0;
}
.mobileNav{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}

.mobileNav li {
max-width: 50%;
width: 50%;
}
.mobileNav li a{
    font-size: 1.3rem;
    color: #363636;
    line-height: 3rem;
    font-weight: 600;
}
.mobileNav li a:hover{
    color: #3897cf;
}

/*Modal Footer*/
.modal-footer-btn-group .btn{
    width: 100%;
    font-size: 15px;
}
.modal-footer-btn-group a{
    font-size: 1.3rem;
    color: #363636!important;
}
.btn-border {
    transform:none!important;
    background: transparent!important;
    border: 2px solid #363636!important;
    color: #363636 !important;
}
.btn-border:hover {
    color: #3897cf!important;
    border: 2px solid #3897cf !important;
}

.customer-support{
    color: #ffffff;
}

.customer-support span,
.customer-support i{
    color: #ffffff;
}

.customer-support span:hover,
.customer-support i:hover{
    color: #3897CF;
}

.Profile-avatar {
    display: flex;
    align-items: center;
}

.Profile-avatar img {
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 50px;
}
.headPopBarList a.signUpBG {
    background-color: #3897cf;
    padding: 5px 10px 5px 10px;
    color: #fff !important;
}
.Profile-avatar p {
    font-size: 16px;
    font-weight: 500;
    padding-left:10px;
}
/*mega menu*/
.megaMenuIcon{
    font-size: 16px;
    margin-top: 11px;
    cursor: pointer;
    padding-left: 1rem;
}
.mega-menu {
    position: absolute;
    top: 55px;
    width: 11rem;
    height: auto;
    background: #f1f2f3;
    transition: all 0.4s ease;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.inner-mega-menu ul {
    float: left;
    line-height: 10px;
}
.inner-mega-menu:last-child {
    margin-right: 0%;
}

.inner-mega-menu ul li{
    padding: 10px 0;
    transition: all 0.1s ease;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: capitalize;
    float: left;
    padding-left: 0.8rem;
    width: 100%;
    border-bottom: 1px solid #27272714;
}
.inner-mega-menu ul li a{
    color: #363636;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
}.inner-mega-menu ul li a:hover{
     color: #3897cf;
}

.nav-bar ul li:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}
