.Page-loader {
    position: fixed;;
    z-index: 99;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Page-loader > img {
    width: 100px;
    height: 100px;
}

.Page-loader .hiddin {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
