

/* Header Top Bar End */
.headerTopBar {min-height: 40px;}
.headFeature{
	color: #ffffff;
	font-size: 15px;
	line-height: 30px;
	font-family: 'Crimson Text', serif;
}
.headFeature i{font-size: 12px;padding-right: 5px;}
.headerTopBar{min-height: 40px;}
.headFeatureList li{margin-right: 1rem;}
.headFeatureList li:last-child{margin-right: 0;}


/* Header Style */

.logoText a{font-size: 30px;}
.logoText a:hover{color: #3897cf;}

/* Logo Style */

.header {
    border-bottom: 1px solid #dcdcdc;
    min-height: 60px;
}

/* --- mainNav --------------------- */
.mainNav {
	padding-right: 15px;
	float: right;
  }
  .mainNav .navTabs {
	float: right;
  }
  .mainNav .navTabs > li {
	float: left;
	margin-left: 10px;
	position: relative;
  }
  .mainNav .navTabs > li > a,
  .mainNav .navTabs > li > button {
	display: block;
	height: 33px;
	line-height: 33px;
	text-align: center;
	padding: 0px 12px;
	color: #21242e;
	font-size: 14px;
	font-weight: 700;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-o-border-radius: 2px 2px 2px 2px;
	-ms-border-radius: 2px 2px 2px 2px;
	-khtml-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
  }
  .mainNav .navTabs > li .active {
	background-color: #ff6b6b;
	color: #ffffff !important;
  }
  /* --- responsiveMainNav --------------------- */
  #responsiveMainNavToggler {
	padding: 0;
	height: 33px;
	width: 33px;
	text-align: center;
	line-height: 33px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	overflow: hidden;
	margin-right: 15px;
	float: right;
	display: none;;
  }
  #responsiveMainNavToggler.opened {
	background-color: #ff6b6b;
	color: #ffffff;
  }
  .style-5 #responsiveMainNavToggler {
	background-color: #ff6b6b;
	color: #ffffff;
  }
  .style-5 #responsiveMainNavToggler:hover {
	background-color: #21242e;
  }
  .responsiveMainNav {
	padding: 0 15px;
	margin-bottom: 30px;
	position: relative;
	display: none;
  }
  .responsiveMainNav > ul.navTabs > li a,
  .responsiveMainNav > ul.navTabs > li > button {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background-color: #f5f6f8;
	color: #21242e;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	font-weight: 700;
  }
  .responsiveMainNav > ul.navTabs > li a:hover,
  .responsiveMainNav > ul.navTabs > li > button:hover {
	background-color: #ff6b6b;
	color: #ffffff;
  }
  .responsiveMainNav > ul.navTabs > li a:hover:after,
  .responsiveMainNav > ul.navTabs > li > button:hover:after {
	color: #ffffff !important;
  }
  .responsiveMainNav > ul.navTabs > li a.toggleResponsive:after,
  .responsiveMainNav > ul.navTabs > li > button.toggleResponsive:after {
	content: '+';
	font-family: 'tahoma';
	float: right;
	color: #21242e;
	font-size: 17px;
	font-weight: 700;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-khtml-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  .responsiveMainNav > ul.navTabs > li .toggleResponsive.activeLine {
	background-color: #ff6b6b;
	color: #ffffff;
  }
  .responsiveMainNav > ul.navTabs > li .toggleResponsive.activeLine:after {
	content: '-';
	font-family: 'tahoma';
	float: right;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
  }
  .responsiveMainNav > ul.navTabs > li .active {
	background-color: #ff6b6b;
	color: #ffffff;
  }
  .responsiveMainNav > ul.navTabs > li .active:after {
	color: #ffffff !important;
  }
/* Header Nav End */

.headPopBarList li a{
	color:#363636;
	font-size: 16px;
}
.cardInfotd{width: 70%;}
.headPopBarList li a i{font-size: 12px;padding-right: 5px;}
.headPopBarList li{margin-right: 1rem;}
.headPopBarList li:last-child{margin-right: 0rem;}

/*Head Pop Bar Style End*/

.cardWidgetTitle{
    font-size: 20px;
    color: #363636;
    text-transform: uppercase;
    text-align: center;
}
.cardWidgetList li a{
    font-size: 18px;
    color: #363636;
    font-weight: 600;
    line-height: 35px;
}
.cardWidgetList li a:hover{
  margin-left: 5px;
  color: #3897cf;
}
.cardWidgetList2{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.cardWidgetList2 li{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.cardWidgetList li strong{text-transform: uppercase;}
.productContent{position: relative; width: 190px}
.favoritIcon{
	position: absolute;
	top: 0;
	right: 0;
	color: #ea4f4b;
}

/* Card Widget Style End*/

.formCheckbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }

  .formCheckbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  .formCheckbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }

  .formCheckbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }

  .formCheckbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .formCheckbox input[type="checkbox"]:checked + label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
  }
.formCheckbox label{
    font-size: 17px;
    color: #363636;
}

/*Radio Style */
.radioLabel {
    display: block;
}
.formRadio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.formRadio label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.formRadio input[type="radio"] + label:before {
    content: '';
    background: transparent;
    border-radius: 100%;
    border: 1px solid #363636;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 0;
    margin-right: 0.5rem;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.formRadio input[type="radio"]:checked + label:before {
    background-color: #3897cf;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}
.formCheckbox a{text-decoration: underline!important;}
.formRadioGroup {
	padding-top: 1rem;
    padding-bottom: 1rem;
}
.cardBl {
    font-size: 20px;
    padding: 0 1rem;
}

/* Radio Style End*/


.cardTable{border: 1px solid rgba(0, 0, 0, 0.1);}
.cardTable thead th{
    background-color: #f7f7f7;
    font-size: 18px;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    border: 0px;
}
.cardTable td{
    font-size: 16px;
    color: #363636;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    line-height: 35px;
}
.cardTable td a{color: #3897cf;}
.stockInfo{
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding:10px 15px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
}
.cardTable .btn{
    font-size: 12px;
    color: #363636;
    background-color: #f7f7f7;
    margin-right: 15px;
}
.cardTable .btnActionUpdate:hover{
    color: #ffffff;
    background-color: #3897cf;
}
.cardTable .btnActionDelete:hover{
    color: #ffffff;
    background-color: #dc3545;
}

.cardTableStyle2 .card-body{padding:0px;}
.cardTableStyle2 td{vertical-align: middle;}

/*Card Table End*/
.productCatCard {
    padding: 15px;
    border: 2px solid #000000;
    border-radius: unset;
}
.productCatTitle {
    text-transform: uppercase;
    font-size: 23px;
}
/*Category Style End*/

.sectionTitle {
    text-transform: uppercase;
}
.sectionTitle span {
    color: #3897cf;
    text-transform: uppercase;
}
.singleFeature .card-body h4 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.singleFeature .card-body p {
    font-size: 15px;
    line-height: 20px;
}

/* Feature End */
.footerLogo .logoText {
    line-height: 25px;
}
.footerWidgetHeader {
    font-size: 25px;
    margin-bottom: 1rem;
}
.footerLinksList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.footerLinksList li {
    max-width: 50%;
    width: 50%;
    margin-bottom: 0.5rem;
}
.footerLinksList li a {
    color: #404041;
    font-size: 18px;
    font-weight: 600;
}
.footerLinksList li a:hover {
    color: #3897cf;
    margin-left: 5px;
}

.getInTouchList li a, .getInTouchList li p {
    font-size: 18px;
    color: #404041;
    font-weight: 600;
}
.getInTouchList li {
    margin-bottom: 0.5rem;
}

.footerSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.footerSocial li a {
	font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid #333333;
    margin-right: 10px;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
}
.footerSocial li a:hover {
    color: #3897cf;
    border: 2px solid #3897cf;
}
/* Footer Top End */
.subscribeCard {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
}
.subscribeCard .card-body {
    border: 5px solid #000000;
}
.subscribeForm input {
    width: 440px;
    margin-right: 10px;
    border: 1px solid #000000;
    background-color: transparent;
}
/* Subscribe Form Sectoin End */

.offerBanner .row {
    min-height: 550px;
}
.offerBannerTitle {
    text-transform: uppercase;
}
.discountTxt {
  color: #3897cf;
  font-size: 90px;
  font-style: italic;
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}
.discountTxt:after, .discountTxt:before {
  content: '';
  position: absolute;
  top: 45px;
  width: 60px;
  height: 3px;
  background-color: #3897cf;
}
.discountTxt:before {
  right: 0;
}
.discountTxt:after {
  left: 0;
}
.offerBannerPara {
  font-size: 20px;
  text-transform: uppercase;
}
.offerBannerCard .offerBannerBtn {
  color: #3897cf;
  font-size: 15px;
  max-width: 300px;
  width: 300px;
  min-height: 50px;
  line-height: 50px;
  background-color: #ffffff;
}
.offerBannerCard .offerBannerBtn:hover {
  background-color: #3897cf;
  color: #ffffff;
}
/* Offer Page End */

.productMedia {
  padding: 15px;
  text-align: center;
  min-height: 250px;
}
.productTitle {
  color: #3897cf;
}
.authorName {
  font-size: 16px;
  color: #363636;
}
.productPrice {
  font-size: 15px;
  color: #363636;
}
/* Product Section End */

.singleArticle {
  position: relative;
}
.singleArticle:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.1825105042016807) 0%, rgba(0,0,0,0.7819502801120448) 100%);
}
.postTitle a {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}
.articleArea .articleBody {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
}
.postPara {
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
}
.linkBtn {
  color: #ffffff!important;
  font-size: 14px!important;
}
/* Blog Section End */

/*Home Page Style End*/

.breadcrumb-item, .breadcrumb-item a {
  font-size: 16px;
  color: #363636;
}
.breadcrumb-item a {
  text-decoration: underline!important;
}
.breadcrumb-item.active {
  color: #6c757d;
}
.cartProductMedia {
  max-width: 110px;
  padding: 10px;
  max-height: 140px;
}
.cartProductTitle h3 {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}
.cartTableBody td{
  vertical-align: middle;
}
.productQut {
  font-size: 16px;
  color: #363636;
  font-weight: 600;
  width: 50%;
}
.btnGraySm {
  color: #363636;
  background-color: #e2e2e2;
  font-size: 16px;
  min-height: 25px;
  line-height: 25px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 400;
}
.cartPriceList li, .cartPriceList li span {
  font-size: 18px;
  font-weight: 600;
  color: #363636;
}
.cartPromo .form-control {
  max-width: 155px;
}
.cartQntN{width: 10%;}

/*Cart Page Style End*/

.productCartList {
  height: 130px;
  overflow: auto;
}
.productValue li {
  font-size: 18px;
  color: #363636;
  font-weight: 600;
}
/*Checkout Page Style End*/

.asideBody {
  padding: 1rem;
}
.asideTitle {
  margin-bottom: 2.8rem;
  margin-top: 5rem;
}
.singleFilterCard {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.singleFilterCard h5 {
  font-size: 20px;
  color: #363636;
  margin-bottom: 15px;
}
.filterList li a span {
  font-size: 14px;
  color: #888888;
  padding-left: 10px;
}
.filterList li a {
  font-size: 16px;
  color: #363636;
  font-weight: 600;
  line-height: 30px;
}
.filterList li a:hover {
  color: #3897cf;
  margin-left: 2px;
}
.pageTitle, .pageTitle span {
  font-size: 25px;
  text-transform: uppercase;
}
.pageTitle span {
  color: #3897cf;
}
.singleFilter label {
  font-size: 18px;
  color: #363636;
  font-weight: 600;
  margin-right: 10px;
}
.filterSelect .form-control{
  font-size: 17px;
  color: #363636;
  width: auto;
}
/*Shop Page Style End*/
.productView .col-auto{margin-bottom: 20px;}

/*------------------------------------------------------------------------------*/
/*                    Width : 1199px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 1199px){
  .navbar-expand-lg .navbar-nav .nav-link{font-size: 13px;}
  .productCatTitle{font-size: 20px;}
  .productSingleTitle{font-size: 18px;}
  .slick-slider .productMedia{min-height: 200px!important;}
  .productBtnGroup .btn{font-size:11px;}

}

/*------------------------------------------------------------------------------*/
/*                    Width : 991px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 991px){
  .subscribeForm input{width: 100%;}
  .subscribeForm .btn{margin-left: 10px;}
  .subscribeCard .card-body h1{line-height: 40px;margin-bottom: 20px;font-size: 30px;}
  .subscribeCard .card-body p br{display: none;}
  .ourBenefits .col-sm-3{flex: 0 0 50%;max-width: 50%;margin-bottom: 20px;}
  .productCatCard .card-body{padding-left: 0px;padding-right: 0px;}
  .productCatTitle {font-size: 16px;}
  .footer .col,
  .footer .col-sm-5,
  .footer .col-sm-2{flex: 0 0 50%;max-width: 50%;}
  .productsBodyAsidebar .col-sm-3{flex: 0 0 100%;max-width: 100%;}
  .productDetails .col-sm-6{flex: 0 0 100%;max-width: 100%;}
  .cartSection .col-sm-4{flex:0 0 50%;max-width: 50%;}
  .userBodyArea .col-sm-2{display: none;}

}

/*------------------------------------------------------------------------------*/
/*                    Width : 767px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){
  .mailSubscribe  .col-sm-10{flex: 0 0 100%;max-width: 100%;}
  .offerBanner{background-position: 20% 100%;}
  .productView  .col-auto{margin-bottom: 20px;}
  .cartSection .col-sm-4{flex:0 0 100%;max-width: 100%;}
  .cardContentDetails .col-sm-3{flex: 0 0 50%;max-width: 50%;margin-bottom: 20px;}
  .cartPromo .form-control {max-width: 100%;margin-bottom: 20px;}
  .cartProductMedia{width: 160px;}
  .cardTable .btn{display:flex;align-items: center;}
  .cardTable .btn i{margin-top: -5px;padding-left: 5px;}

}

/*------------------------------------------------------------------------------*/
/*                    Width : 575px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 575px){
  .headFeatureList li {margin-right: 0.5rem;font-size: 15px;}
  .productCat .col-sm-4{margin-bottom: 20px;}
  .productCatMedia img{max-width: 100%;width: 100%;}
  .productCatTitle {font-size: 25px;}
  .paymentsNav {justify-content: space-around!important;margin-top: 20px;}
  .footer .col, .footer .col-sm-5, .footer .col-sm-2{flex: 0 0 100%;max-width: 100%;margin-bottom: 20px;}
  .ourBenefits .col-sm-3 {flex: 0 0 100%;max-width: 100%;}
  .subscribeForm {flex-flow:row wrap;}
  .subscribeForm .form-group{width: 100%;}
  .subscribeForm .btn{width: 100%;margin-left: 0px;margin-top: 10px;}
  .subscribeCard .card-body h1{line-height: 30px;}
  .offerBannerTitle{font-size: 30px;}
  .discountTxt{max-width: 80%;}
  .sectionTitle{font-size: 20px;}
  .productGallery{display: flex;}
  .productGallery .singleItem {padding: 10px!important;margin-right: 10px;}
  .productGallery .singleItem:last-child {margin-right: 0px;}
  .productBtnGroup .col-sm-2{flex:0 0 100%;max-width: 100%;margin-bottom: 20px;}
  .productCardDetails {margin-top: 20px;}
  .productCardHead{justify-content: flex-start;flex-flow: row wrap;}
  .productSingleTitle{width: 100%;}

}

/*------------------------------------------------------------------------------*/
/*                    Width : 453px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 453px){
  .productView .col-auto{flex: 0 0 50%;max-width: 50%;}
  .productView .slick-slider .col-auto{flex: 0 0 auto;width: auto;max-width: 100%;}
  .productMedia{min-height: auto;}
  .productTitle{font-size: 15px;}
  .ImageSlickOfferPage .slick-arrow.slick-next{right: 0px;}
  .ImageSlickOfferPage .slick-arrow.slick-prev{left: 0px;}
  .actualProduct .justify-content-between{justify-content: center!important;}
  .productContent{width: auto;}
  .productMedia{height: 200px;}
  .productMedia img{height: 100%;}
  .linkBtn{padding-left: 10px;padding-right: 10px;}

}

/*------------------------------------------------------------------------------*/
/*                    Width : 380px
/*------------------------------------------------------------------------------*/
@media only screen and (max-width: 380px){
  .headFeatureList {flex-flow:row wrap;}
  .footerLinksList li a{font-size: 16px;}
  .discountTxt{max-width: 100%;}
  .productMedia {height: 180px;}
  .sectionTitle {font-size: 18px;}
  .productBtnGroup .col{flex: 0 0 100%;max-width: 100%;margin-bottom: 20px;}
  .productBtnGroup .btn{padding: 0 10px;width: 100%;}
  .mobileNav li a {font-size: 0.95rem;}

}


