.radio_item{
    display: none !important;
    }

    .label_item {
	  opacity: 0.1;
	  border-radius: 6px;
	  height: 30px;
	  width: 40px;
	}
	.label_item img{
	  height: 30px;
	  width: 40px;
	}
    
    .radio_item:checked + label {
	  opacity: 1;
	  box-shadow: 0 8px 6px -6px black;
    }

label {
 cursor: pointer;   
}

